# Project exclude paths
*/target/*
*/*/target/*
tmp
.idea/*
db
ticai
taiji
.env
dump.rdb
response.json
.venv/
*/.venv/
checkpoints/
*/checkpoints/
runs/
*/runs/
**/playground/mini-gpt/data/lottery-corpora/
**/playground/mini-gpt/data/lottery-strategy.txt
